<!DOCTYPE html>
<html>
  <head>
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
      <h1>
 <%= locals.user || "Please Log In" %>
      </h1>
<p>a href="/users
</body>
</html>